/* for mobile phones */
html, body{
  width: 100%;
  height: 100%;
  gutter-width: 0;
}

#sidebar {
  background-color: black;
  height: 100vh;
  border: 2px solid red;
  color: white;
  text-align: center;
  font-family: Ubuntu;
  padding; 0;
}

img {
  width: 100%;
  height: auto;
}

.headerhours{
  background-color: #212121;
  height: 180px;
  overflow: hidden;
}

.headerhours-open{
  background-color: #A62929;
  padding: 2px 20px 2px 20px;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
}

.headerhours-time{
  font-size: 1.5em;
  font-weight: regular;
}

.catering{
  background-color: #3B476D;
  height: 100px;
  padding: 8px;
}

.catering h1{
  font-size: 1.5em;
}

.navbar {
  background-color: #FFC267;
  margin: 0;
}
